<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark pt-4">
        <div class="container">
            <a href="/" class="navbar-brand"><strong><span style="color: rgb(102, 0, 255);">Members</span>Only</strong></a>
            <ul class="navbar-nav">
                <% if (!locals.user) { %>
                    <li class="nav-item">
                        <a href="/sign-up" class="nav-link">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sign-in" class="nav-link">Sign in</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a href="/upgrade-account" class="nav-link">Upgrade Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="/log-out" class="nav-link">Log out</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header> 