<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark pt-sm-4 px-sm-5">
        <div class="container-fluid flex-column flex-sm-row">
            <a href="/" class="navbar-brand"><strong><span style="color: rgb(102, 0, 255);">Members</span>Only</strong></a>
            <% if (locals.currentUser) { %>
                <p class="navbar-text nav-custom mb-0">Membership status: 
                    <span style="color: rgb(102, 0, 255);" class="navbar-text nav-custom"><%= currentUser.membership %></span></p>
            <% } %>
            <ul class="navbar-nav">
                <% if (!locals.currentUser) { %>
                    <li class="nav-item px-3">
                        <a href="/sign-up" class="nav-link nav-custom">SIGN UP</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="/sign-in" class="nav-link nav-custom">SIGN IN</a>
                    </li>
                <% } else { %>
                    <li class="nav-item px-3">
                        <a href="/users/upgrade-account" class="nav-link nav-custom">UPGRADE ACCOUNT</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="/users/log-out" class="nav-link nav-custom">LOG OUT</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header> 