<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark pt-4 px-5">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><strong><span style="color: rgb(102, 0, 255);">Members</span>Only</strong></a>
            <ul class="navbar-nav">
                <% if (!currentUser) { %>
                    <li class="nav-item px-3">
                        <a href="/sign-up" class="nav-link">SIGN UP</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="/sign-in" class="nav-link">SIGN IN</a>
                    </li>
                <% } else { %>
                    <li class="nav-item px-3">
                        <a href="/upgrade-account" class="nav-link">UPGRADE ACCOUNT</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="/log-out" class="nav-link">LOG OUT</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header> 