@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-custom {
    font-size: 12px; 
    font-weight: 600;
}

@media (max-width: 1920px) {
    .sm-display {
        width: 33% !important;
    }
}

@media (max-width: 1200px) {
    .sm-display {
        width: 55% !important;
    }
}

@media (max-width: 800px) {
    .sm-display {
        width: 88% !important;
    }
}