@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-custom {
    font-size: 12px; 
    font-weight: 600;
}

.card {
    background-color: rgb(21, 25, 30);
    width: 90%;
    max-width: 500px;
}

.blurry {
    filter: blur(8px);
    user-select: none;
}

.semibold {
    font-weight: 600;
    font-size: 12px;
}

.text-admin {
    color: rgb(145, 20, 151) !important;
}

@media (max-width: 1800px) {
    .sm-display {
        width: 33% !important;
    }
}

@media (max-width: 1200px) {
    .sm-display {
        width: 55% !important;
    }
}

@media (max-width: 800px) {
    .sm-display {
        width: 85% !important;
    }
}