<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <%- include('../partials/nav'); %>
    <div class="container-fluid bg-dark flex-grow-1 p-2 p-sm-5 d-flex flex-column">
      
    </div>
  </body>
</html>