<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <%- include('../partials/nav'); %>
    <div class="container-fluid bg-dark flex-grow-1 p-5">
      <div class="container w-25 pt-5 px-4 text-light d-flex flex-column align-content-center">
        <h1>Sign-in</h1>
        <form action="/sign-in" method="post" class="form d-flex flex-column">
          <div class="form-group">
            <label for="email" class="form-label">Email address:</label>
            <input type="text" class="form-control input-normalize" name="email" placeholder="Email" />
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control input-normalize" name="password" placeholder="Password" />
          </div>
          <button type="submit" class="btn btn-primary mt-4">Log in</button>
        </form>
      </div>
    </div>
  </body>
</html>
